/*mobile&table*/
@media only screen and (max-width:740px){
    .header_list{
        
        display: none;
    }
    .columm{
        width: 36%;
    }
    .imgg{
        width:80% ;
    }
    .header_seach_logo{
        margin: 0px;
    }
    .header_seach{
        bottom: 0px;
        display: none;
    }
    .header{
        height: 80px;
    }
    .banner {
        width: 100%;
        margin-top: 0px;
    }
    .cart{
        display: none;
    }
    .cart3{
        display: block;
    }
    .banne{
        padding-top: 80px;
    }
    .bann{
        display: none;
    }
    .danhmuc{
        display: none;
    }
    .ketnoi,
    .tongdai,
    .điachi{
        width: 100%;
        text-align: center;
    }
    .tieu{
        margin-top: 10px;
    }
    .nav-ovelay{
        display: block;
    }
    
    .submit4,
    .submit1{
        width: 310px;
        margin-top: 10px;
    }
    .submit5{
        margin-top: 10px;
        width: 319px;
    }
    .nav-mobile{
        display: block;
    } 
  .danhmuc-mobile{
      display: block;
  }
}
/*pc*/
@media only screen and (min-width: 740px) and (max-width: 1023px) {
   
    .columm{
        width: 17%;
    }
    .imgg{
        width:80% ;
    }
    .header{
        height: 120px;
    }
    .header_item1{
        display: none;
    }
    .header_seach{
        width: 400px;
    }
    .cart{
        
        width: 110px;
    }
    .logomobi{
        display: block;
    }
    .logo{
        display: none;
    }
    .bann{
        display: none;
    }
    .giohang{
        width: 230px;
    }
    .thongbao1{
        display: none;
    }
}
@media  only screen and (min-width: 1023px) and (max-width: 1239px)  {
    .columm{
        width: 20%;
    }
    .giohang{
        width: 270px;
    }
}
