/*mobile&table*/
@media only screen and (max-width:740px){
    .header_list{
        
        display: none;
    }
    .columm{
        width: 36%;
    }
    .imgg{
        width:80% ;
    }
    .header_seach_logo{
        margin: 0px;
    }
    .header_seach{
        bottom: 0px;
        display: none;
    }
    .header{
        height: 40px;
    }
    .banner {
        width: 100%;
        margin-top: 0px;
    }
    .cart{
        display: none;
    }
    .cart3{
        display: block;
    }
    .banne{
        padding-top: 40px;
    }
    .bann{
        display: none;
    }
    

}
/*pc*/
@media only screen and (min-width: 740px) and (max-width: 1023px) {
   
    .columm{
        width: 17%;
    }
    .imgg{
        width:80% ;
    }
    .header{
        height: 120px;
    }
    .header_item1{
        display: none;
    }
    .header_seach{
        width: 400px;
    }
    .cart{
        
        width: 110px;
    }
    .logomobi{
        display: block;
    }
    .logo{
        display: none;
    }
}
@media  only screen and (min-width: 1023px) and (max-width: 1239px)  {
    .columm{
        width: 20%;
    }
}
